* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;
}

body {
    color: #e7e9ea;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 5.25fr 4.25fr 0.75fr;
}

/* SIDEBAR SECTION */
aside {
    justify-self: end;
}
.sidebar {
    height: 100vh;
    align-items: stretch;
    padding: 12px;
    /* width: 105px; */
}

.logo ul {
    list-style: none;
}

.sidebar-nav-items li {
    padding: 12px 11px 12px 13px;
}
.sidebar-nav-items li:hover {
    background-color: rgba(59, 60, 61, 0.4);
    border-radius: 50%;
}

.sidebar-nav-items ul button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #e7e9ea;
}

.sidebar-nav-items ul {
    list-style: none;
}

.post-btn button {
    border: none;
}

.profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* MAIN CONTENT */
main {
    display: display;
    flex-direction: column;
    border-left: 1px solid rgba(59, 60, 61, 1);
    border-right: 1px solid rgba(59, 60, 61, 1);
    width: 620px;
    color: #71767b;
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 53px;
    border-bottom: 1px solid rgba(59, 60, 61, 1);
}

.for-you {
    width: 292px;
    text-align: center;
    padding: 5px 16px;
}

.following {
    width: 300px;
    text-align: center;
    padding: 5px 16px;
}

.tweet-section {
    display: grid;
    grid-template-columns: 55px 560px;
    padding: 16px 10px;
}

.tweet-section .profile {
    justify-self: center;
}

.tweet {
    width: 520px;
}
.tweet input {
    width: 514px;
    border: none;
    padding-left: 5px;
    font-size: 1.25rem;
}

.tweet-options {
    display: grid;
    grid-template-columns: 55px 484px 60px;
    padding: 10px;
    border-bottom: 1px solid rgba(59, 60, 61, 1);
}

.post-btn {
    background-color: #71767b;
    border: none;
    border-radius: 25px;
    width: 65px;
    height: 35px;
    color: #000000;
    font-weight: 700;
}

.show-posts {
    border-bottom: 1px solid rgba(59, 60, 61, 1);
    text-align: center;
    color: rgba(29, 155, 240, 1);
    padding: 12px 0;
}

.posts {
    display: grid;
    grid-template-columns: 55px 560px ;
    padding: 12px 0px 0px 12px;
    border-bottom: 1px solid rgba(59, 60, 61, 1);
}

.tweet-posts {
    max-width: 538px;
    margin-left: -8px;
}
.tweet-posts p {
    display: flex;
    align-items: center;
    width: 100%;
   
    margin-bottom: 2px;
}
.tweet-posts > p > svg:first-of-type {
    margin-left: auto;
}
.tweet-posts > p > svg + svg {
    margin-left: 10px;
}

.tweets {
    color: #e7e9ea;
    font-size: 1rem;
}

.post-options {
    display: grid;
    grid-template-columns: 55px 538px;
}

.post-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-icons div {
    display: flex;
    align-items: center;
    gap: 4px;
}
.post-icons p {
    margin: 12px 0;
    font-size: 13px;
}

section input {
    display: flex;
    justify-self: center;
    border: 1px solid rgba(59, 60, 61, 1);
    border-radius: 20px;
    width: 350px;
    padding: 6px 0;
}
.right-column {
    padding: 12px 0;
}